#==============================================================================
# nhdb_cfg.json
# """""""""""""
# Configuration file for NHdb.pm and NetHack Scoreboard in general.
#==============================================================================

{
  #--- HTML files are generated in this place

  "http_root" : "/home/httpd/nh",

  #--- database session configuration

  "db" : {

  	"nhdbfeeder" : {
	    "dbname" : "nhdb",
        "dbhost" : "localhost",
	    "dbuser" : "nhdbfeeder"
    },

  	"nhdbstats" : {
	    "dbname" : "nhdb",
        "dbhost" : "localhost",
	    "dbuser" : "nhdbstats"
    }

  },

  #--- authentication info for database sessions is stored in this file

  "auth" : "auth.json",

  #--- define wget command-line options

  "wget" : "wget --connect-timeout=10 --dns-timeout=5 --read-timeout=60 -t 1 -c -q -O %s %s",

  #--- feeder configuration

  "feeder" : {

  #--- following fields must be present in the xlogfile or the line is rejected

    "require_fields" : [ "name", "deathdate", "death" ],
  
  #--- regular xlogfile fields; do not change unless you know what you're doing

    "regular_fields" : [
      "role", "race", "gender", "gender0", "align", "align0", "deathdnum", "deathlev", "deaths", "hp", "maxhp",
      "maxlvl", "points", "turns", "realtime", "version", "dumplog", "elbereths"
    ],

  #--- xlogfile lines with following names are dropped

    "reject_name" : [ "wizard", "paxedtest" ]
  },

  #--- path to local xlogfile copies

  "logs" : {
    "localpath" : "logs",
    "urlpath" : null
  },

  #--- variants to include in the First To Ascend page
  
  "firsttoascend" : [
    "dnh", "dnhslex", "dyn", "evil", "fiq", "4k", "grunt", "ndnh", "nh4",
    "slashem", "spork", "spl", "un", "xnh"
  ],

}
