*~
*.gif
nhdb.sublime-project
nhdb.sublime-workspace
logs/
schema/nhdb-users.txt
TO-DO
schema/db-reset.sql
cfg/auth.json
nhdb.sublime-project-nms1
cfg/nhdb_def.json
test/
www/
xlog/
duplicategames*
runresults.txt
