*~
*.gif
*.swp
nhdb.sublime-project
nhdb.sublime-workspace
logs/
schema/nhdb-users.txt
TO-DO
schema/db-reset.sql
cfg/auth.json
nhdb.sublime-project-nms1
cfg/nhdb_def.json
cfg/nhdb_mojo.json
cfg/nethackstats.json
test/
www/
html/
legacy/cfg/auth.json
legacy/cfg/nhdb_def.json
mojo/cfg/auth.json
mojo/cfg/nhdb_def.json
mojo/cfg/nethackstats.json
mojo/my-env
postgres/env
.env
