/*--- generic ---*/

a {
  color: #54b;
}

a:visited {
  color: #300;
}

.numeric {
  text-align: right;
}

/*--- ---*/

body {
  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Sans-Serif";
  font-size: 12px;
  background: #fff;
  padding: 8px 10px;
}

.page_back {
    background: #ccc;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
}

h1 {
  margin-bottom: 3px;
}

h2 {
  border-bottom: 2px solid #eee;
  margin-bottom: 7px;
} 

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}

h4 {
  margin-bottom: 2px;
}

hr {
  color: #ccc;
  height: 1px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  /* border: 1px solid #ccc; */
  font-size: 11px;
}

td, th {
  text-align: left;
  padding: 2px 4px;
}

th {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  color : black;
}

tr {
  color: #666;
}

tr:nth-child(even) {
  background: #f0ffe0;
}

tr.win {
  font-weight: bold;
  color: #000;
}

div.content {
  position: relative;
}

.page {
    border: 2px solid #333;
    background: #ffffff;
    margin: 0px;
    position: relative;
}

.page_content {
    padding: 12px 35px 30px 35px;
}

div.toplinks {
    margin-top: 0px;
    background: #faffff;
    color: #ccc;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
}

div.toplinks a:hover {
    text-decoration: none;
    background-color: #ff0;
}

table.bordered {
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
}

div.bordered {
  border: 1px solid #ddd;
  padding: 7px 8px;
}

td {
  vertical-align: top;
}

table.bordered td {
  padding: 6px;
  border: 1px solid #ddd;
  vertical-align: top;
}

table.bordered td.blank {
    border: 0px;
}

th {
    font-weight: bold;
    background: #ffffe0;
    padding-left: 3px;
    padding-right: 3px;
}

table.bordered th {
  padding: 6px;
  border: 1px solid #ddd;
}


tr.point_temp {
    font-family: Monospace;
    color: #aaa;
}

tr.point_perm {
    font-family: Monospace;
    color: #000;
}

.numeric {
    text-align: right;
}

table.overview {
    border: 0px;
}

table.grouping {
  border: 0;
}

.updatetime {
    width: 100%;
    text-align: center;
    font-size: xx-small;
}

pre {
  background: #f0ffe0;
  border:1px solid #e0eae0;
  padding: 8px 10px;
  display: table-cell;
}

/*--- Mandevil custom stuff here */

span.won {
  font-weight : bold;
  color : black;
}

span.combo {
  background : rgba(220,220,220,0.5);
  border : 1px solid rgba(220,220,220,1);
  padding-left : 0.2em;
  padding-right : 0.2em;
  white-space : nowrap;
}

span.combono {
  border : 1px solid rgba(220,220,220,1);
  font-weight : bold;
  background : rgba(220,220,220,1);
  color : rgb(100,100,100);
  padding-left : 0.1em;
  padding-right : 0.1em;
}

span.hilite {
  font-weight : bold;
  color : black;
}

th.center {
  text-align : center;
}

th.align {
  text-align : center;
  width : 3em;
}

td.subtotal1 {
  font-weight : normal;
  text-align : center;
  background : #fff0f0;
}

td.subtotal2 {
  font-weight : normal;
  text-align : right;
  background : #fff0f0;
  width : 3em;
}

td.fcombo {
  background-color : rgb(240,240,240) !important;
}

/* variant selection menu */

p#varmenu > a:link {
  text-decoration : none;
}

p#varmenu > a:hover {
  text-decoration : underline;
}

span.selected {
  color : black;
  font-weight : bold;
}

span.unselected {
  color : rgb(128,128,128);
}

div#counter {
  font-weight : bold;
}

div#countdown {
  font-size : medium;
}

/*--- tablesorter styles ---*/

table.bordered th.header {
  padding-right : 1.4em;
  background-repeat: no-repeat; 
  background-position: center right; 
  cursor : pointer;
}

table.bordered th.header:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMSA5IiBoZWlnaHQ9IjkiIHdpZHRoPSIyMSI+PHBhdGggZD0iTTExLjczMyA5TDggNWg4bC00LjI2NyA0bTAtOUw4IDRoOGwtNC4yNjctNCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
}

table.bordered th.headerSortDown:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMSA5IiBoZWlnaHQ9IjkiIHdpZHRoPSIyMSI+PHBhdGggZD0iTTggNWwzLjczMiA0TDE2IDVoLTEuMDY2bC0zLjIwMiAzLTIuNzk4LTNIOHpNMTEuNzMzIDBMOCA0aDhsLTQuMjY3LTQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
}

table.bordered th.headerSortUp:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMjEgOSI+PHBhdGggZD0iTTggNGwzLjczMi00TDE2IDRoLTEuMDY2bC0zLjIwMi0zLTIuNzk4IDNIOHpNMTEuNzMzIDlMOCA1aDhsLTQuMjY3IDQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
}

table.bordered th.headerSortDown {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMSA5IiBoZWlnaHQ9IjkiIHdpZHRoPSIyMSI+PHBhdGggZD0iTTExLjczMyAwTDggNGg4bC00LjI2Ny00IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
}

table.bordered th.headerSortUp {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMSA5IiBoZWlnaHQ9IjkiIHdpZHRoPSIyMSI+PHBhdGggZD0iTTExLjczMyA5TDggNWg4bC00LjI2NyA0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
}

/*--- streaks ---*/

SPAN.streak-open {
  font-weight : bold;
  color : black;
}

/*--- front ---*/

SPAN.notice {
  font-size : smaller;
  color : gray;
}

/*--- z-scores ---*/

SPAN.zscmax {
  color : rgba(255,255,255,255);
  background-color : green;
  padding-left : 2px;
  padding-right : 2px;
}


/*--- special for recent games/ascensions ---*/

table.bordered td.date {
  border           : 1px none black;
  background-color : white;
  font-weight      : normal;
  color            : #666;
  font-size        : smaller;
}

table.bordered th.date {
  border           : 1px none black;
  background-color : white;
}

table.bordered td.topdiv {
  border-top       : 1px dotted #ddd;
}
