body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
}

table {
  border-collapse: collapse;
  vertical-align: top;
  color: #666;
}

th {
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background: #f0ffe0;
}

td {
  border: 1px solid #ddd;
  padding: 0.4em;
}