[%- MACRO number(n) GET n.chunk(-3).join(',') -%]
[%- USE percent = format("%0.1f%%") -%]
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/nh/default.css">
  <title>[% name %]</title>
</head>


<body class="page_back">

<div class="page">

<div class="toplinks">
  <a href="../">Overview</a> |
  <a href="../recent.html">Recent Games</a> |
  <a href="../ascended.html">Ascended Games</a> |
  <a href="../roles.html">Roles</a> |
  <a href="../combos.html">Combos</a> |
  <a href="../players.html">Players</a> 
</div>

<div class="page_content">

<h1>[% name %]</h1>

<hr>

[% IF result_streaks.size %]
<h3>Streaks</h3>

<table class="bordered">

<thead>

<tr>
  <th>&nbsp;</th>
  <th>name</th>
  <th>len</th>
  <th>turns</th>
  <th>streak games</th>
</tr>

</thead>

<tbody>

[% FOREACH row IN result_streaks %]
<tr>
  <td class="numeric">[% row.n %]</td>
  <td><a href="players/[% row.name_orig %].html">[% row.name_orig %]</a></td>
[% IF row.open %]
  <td class="numeric"><span class="streak-open">[% row.wins %]</span></td>
[% ELSE %]
  <td class="numeric">[% row.wins %]</td>
[% END %]
  <td class="numeric">[% number(row.turns) %]</td>
  <td>
[%- FOREACH game IN row.glist -%]
<span class="combono">[% game.n %]</span><span class="combo">[% game.role %]-[% game.race %]-[% game.gender %]-[% game.align %]</span>
[% END %]
</td>
</tr>
[% END %]
</tbody>

</table>

[% END %]


[% IF result_asc.size %]
<h3>Ascended Games</h3>

[% INCLUDE tab_ascended.tt result=result_asc id='ascended' %]
[% END %]

<h3>All Games</h3>

[% INCLUDE tab_recent.tt result=result_all id='all' %]

[% INCLUDE footer.tt %]
