[%- MACRO number(n) GET n.chunk(-3).join(',') -%]
[%- USE percent = format("%0.1f%%") -%]
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="../default.css">
  <title>Players</title>
  <script type="text/javascript" src="/nh/js/jquery.js"></script> 
  <script type="text/javascript" src="/nh/js/tablesorter.js"></script>
  <script type="text/javascript" src="/nh/js/tabsort-dev.js"></script>
</head>

<body class="page_back">

<div class="page">

<div class="toplinks">
<a href="./">Overview</a> |
<a href="ascended.html">Ascended Games</a> |
<a href="recent.html">Recent Games</a> |
<a href="roles.html">Roles</a> |
<a href="combos.html">Combos</a>
</div>

<div class="page_content">
<h1>Players</h1>

<table class="bordered sortplr">

<thead>
<tr>
  <th>&nbsp;</th>
  <th>player</th>
  <th>won</th>
  <th>played</th>
  <th>%</th>
  <th>score</th>
  <th>cond</th>
  <th>maxlvl</th>
  <th>scum</th>
  </tr>
</thead>

<tbody>
[% FOREACH row IN result %]
<tr [% IF row.won > 0 %] class="win"[% END %]>
  <td class="numeric">[% row.n %]</td>
  <td><a href="players/[% row.name_orig %].html">[% row.name_orig %]</a></td>
  <td class="numeric">[% row.won %]</td>
  <td class="numeric">[% row.all %]</td>
  <td class="numeric" data-sortkey="[% row.won / row.all %]">[% percent(row.won / row.all * 100) %]</td>
  <td class="numeric" data-sortkey="[% row.score %]">[% number(row.score) %]</td>
  <td class="numeric">[% row.ncond %]</td>
  <td class="numeric">[% row.maxlvl %]</td>
  <td class="numeric">[% row.all - row.valid %]</td>
</tr>
[% END %]
</tbody>

</table>

[% INCLUDE footer.tt %]