[%- MACRO number(n) GET n.chunk(-3).join(',') -%]
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/nh/default.css">
[% IF result_ascended.size -%]  
  <script type="text/javascript" src="/nh/js/jquery.js"></script> 
  <script type="text/javascript" src="/nh/js/tablesorter.js"></script>
  <script type="text/javascript" src="/nh/js/tabsort.js"></script>
[% END -%]
  <title>Recent Games</title>
</head>

<body class="page_back">

<div class="page">

<div class="toplinks">
<a href="./">Overview</a> |
<a href="ascended.html">Ascended Games</a> |
<a href="players.html">Players</a>
</div>

<div class="page_content">
<h1>Recent Games</h1>

[% INCLUDE tab_recent.tt %]

[% INCLUDE footer.tt %]
