[%- MACRO number(n) GET n.chunk(-3).join(',') -%]

[%- MACRO first BLOCK -%]
  [% IF result.exists(role); THEN; r = result.item(role); ELSE; r = []; END %]
  <tr[% IF r.size %] class="win"[% END %]>
    <td>[% desc %]</td>
    <td class="numeric">[% r.size %]</td>
    <td>[% IF r.size %]<a href="[% r.0.plrpage %]">[% r.0.name_orig %]</a>[% END %]</td>
    <td>[% IF r.size %][% r.0.role %]-[% r.0.race %]-[% r.0.gender0 %]-[% r.0.align0 %][% END %]</td>
    <td>[% r.0.endtime %]</td>
  </tr>
[%- END -%]

[%- USE percent = format("%0.1f%%") -%]
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="../default.css">
  <title>Roles</title>
  <script type="text/javascript" src="/nh/js/jquery.js"></script> 
  <script type="text/javascript" src="/nh/js/tablesorter.js"></script>
  <script type="text/javascript" src="/nh/js/tabsort-dev.js"></script>
</head>


<body class="page_back">

<div class="page">

<div class="toplinks">
  <a href="./">Overview</a> |
  <a href="recent.html">Recent Games</a> |
  <a href="ascended.html">Ascended Games</a> |
  <a href="combos.html">Combos</a> |
  <a href="players.html">Players</a> 
</div>

<div class="page_content">


<h1>Roles</h1>


<hr>

<h3>Overview</h3>

<table class="bordered" style="margin-bottom : 2em">

<thead>
  <tr>
  <th>role</th>
  <th>wins</th>
  <th colspan="3">first win</th>
  </tr>
</thead>

<tbody>
  
  [% first(role='arc',desc='Archeologist') %]
  [% first(role='bar',desc='Barbarian') %]
  [% first(role='cav',desc='Caveman') %]
  [% first(role='hea',desc='Healer') %]
  [% first(role='kni',desc='Knight') %]
  [% first(role='mon',desc='Monk') %]
  [% first(role='pri',desc='Priest') %]
  [% first(role='ran',desc='Ranger') %]
  [% first(role='rog',desc='Rogue') %]
  [% first(role='sam',desc='Samurai') %]
  [% first(role='tou',desc='Tourist') %]
  [% first(role='val',desc='Valkyrie') %]
  [% first(role='wiz',desc='Wizard') %]

</tbody>

</table>


<hr>

<h3>Archeologist</h3>
[% INCLUDE tab_ascended.tt result=result.item('arc') id='archeologist' tabcl='sortasc' %]

<h3>Barbarian</h3>
[% INCLUDE tab_ascended.tt result=result.item('bar') id='barbarian' tabcl='sortasc' %]

<h3>Caveman</h3>
[% INCLUDE tab_ascended.tt result=result.item('cav') id='caveman' tabcl='sortasc' %]

<h3>Healer</h3>
[% INCLUDE tab_ascended.tt result=result.item('hea') id='healer' tabcl='sortasc' %]

<h3>Knight</h3>
[% INCLUDE tab_ascended.tt result=result.item('kni') id='knight' tabcl='sortasc' %]

<h3>Monk</h3>
[% INCLUDE tab_ascended.tt result=result.item('mon') id='monk' tabcl='sortasc' %]

<h3>Priest</h3>
[% INCLUDE tab_ascended.tt result=result.item('pri') id='priest' tabcl='sortasc' %]

<h3>Ranger</h3>
[% INCLUDE tab_ascended.tt result=result.item('ran') id='ranger' tabcl='sortasc' %]

<h3>Rogue</h3>
[% INCLUDE tab_ascended.tt result=result.item('rog') id='rogue' tabcl='sortasc' %]

<h3>Samurai</h3>
[% INCLUDE tab_ascended.tt result=result.item('sam') id='samurai' tabcl='sortasc' %]

<h3>Tourist</h3>
[% INCLUDE tab_ascended.tt result=result.item('tou') id='tourist' tabcl='sortasc' %]

<h3>Valkyrie</h3>
[% INCLUDE tab_ascended.tt result=result.item('val') id='valkyrie' tabcl='sortasc' %]

<h3>Wizard</h3>
[% INCLUDE tab_ascended.tt result=result.item('wiz') id='wizard' tabcl='sortasc' %]

[% INCLUDE footer.tt %]
