[%- MACRO number(n) GET n.chunk(-3).join(',') -%]
[%- USE percent = format("%0.1f%%") -%]
<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/nh/default.css">
  <title>Roles</title>
  <script type="text/javascript" src="/nh/js/jquery.js"></script> 
  <script type="text/javascript" src="/nh/js/tablesorter.js"></script>
  <script type="text/javascript" src="/nh/js/tabsort-dev.js"></script>
</head>


<body class="page_back">

<div class="page">

<div class="toplinks">
  <a href="./">Overview</a> |
  <a href="recent.html">Recent Games</a> |
  <a href="ascended.html">Ascended Games</a> |
  <a href="combos.html">Combos</a> |
  <a href="players.html">Players</a> 
</div>

<div class="page_content">

<h1>Roles</h1>

<hr>

<h3>Archeologist</h3>
[% INCLUDE tab_ascended.tt result=result.item('arc') id='archeologist' tabcl='sortasc' %]

<h3>Barbarian</h3>
[% INCLUDE tab_ascended.tt result=result.item('bar') id='barbarian' tabcl='sortasc' %]

<h3>Caveman</h3>
[% INCLUDE tab_ascended.tt result=result.item('cav') id='caveman' tabcl='sortasc' %]

<h3>Healer</h3>
[% INCLUDE tab_ascended.tt result=result.item('hea') id='healer' tabcl='sortasc' %]

<h3>Knight</h3>
[% INCLUDE tab_ascended.tt result=result.item('kni') id='knight' tabcl='sortasc' %]

<h3>Monk</h3>
[% INCLUDE tab_ascended.tt result=result.item('mon') id='monk' tabcl='sortasc' %]

<h3>Priest</h3>
[% INCLUDE tab_ascended.tt result=result.item('pri') id='priest' tabcl='sortasc' %]

<h3>Ranger</h3>
[% INCLUDE tab_ascended.tt result=result.item('ran') id='ranger' tabcl='sortasc' %]

<h3>Rogue</h3>
[% INCLUDE tab_ascended.tt result=result.item('rog') id='rogue' tabcl='sortasc' %]

<h3>Samurai</h3>
[% INCLUDE tab_ascended.tt result=result.item('sam') id='samurai' tabcl='sortasc' %]

<h3>Tourist</h3>
[% INCLUDE tab_ascended.tt result=result.item('tou') id='tourist' tabcl='sortasc' %]

<h3>Valkyrie</h3>
[% INCLUDE tab_ascended.tt result=result.item('val') id='valkyrie' tabcl='sortasc' %]

<h3>Wizard</h3>
[% INCLUDE tab_ascended.tt result=result.item('wiz') id='wizard' tabcl='sortasc' %]

[% INCLUDE footer.tt %]
