<table class="bordered">

<thead>

<tr>
  <th>&nbsp;</th>
  <th>name</th>
  <th>character</th>
  <th>score</th>
  <th>turns</th>
  <th>duration</th>
  <th>hp</th>
  <th>time</th>
  <th colspan="2">conducts</th>
</tr>

</thead>

<tbody>

[% FOREACH row IN result %]
<tr>
  <td>[% row.n %]</td>
  <td><a href="players/[% row.name_orig %].html">[% row.name_orig %]</a></td>
  <td>[% row.role %]-[% row.race %]-[% row.gender %]-[% row.align %]</td>
  <td class="numeric">[% number(row.points) %]</td>
  <td class="numeric">[% number(row.turns) %]</td>
  <td class="numeric">[% row.realtime %]</td>
  <td class="numeric">[% row.hp %]/[% row.maxhp %]</td>
  <td>[% row.endtime %]</td>
  <td class="numeric">[% row.ncond %]</td>
  <td>[% row.tcond %]</td>
</tr>
[% END %]

</tbody>

</table>
