<p id="varmenu">
[% FOREACH var IN variants %]
  [% IF var == 'all'; label = 'All'; ELSE; label = vardef.item(var); END %]
  [% IF variant == var %]
    <span class="selected">[% label %]</span>
  [% ELSE %]
    <a href="[% page %].[% var %].html"><span class="unselected">[% label %]</span></a>
  [% END %]
[% END %]
</p>
